QPushButton#drawButton {
    padding:4px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #3873d9;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);
 }
QPushButton#drawButton:pressed {
    color: #111;
    border: 1px solid #3873d9;
    background: #fff;
 }

QPushButton#invButton {
    padding:4px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #3873d9;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);
 }
QPushButton#invButton:pressed {
    color: #111;
    border: 1px solid #3873d9;
    background: #fff;
 }

QPushButton#cropButton {
    padding:4px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #3873d9;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);
 }
QPushButton#cropButton:pressed {
    color: #111;
    border: 1px solid #3873d9;
    background: #fff;
 }

QPushButton#circleButton {
    padding:4px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #3873d9;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);
 }
QPushButton#circleButton:pressed {
    color: #111;
    border: 1px solid #3873d9;
    background: #fff;
 }

QGraphicsView#graphicsView {
    background-color: #c2c4c7;
}
